
@{
    ViewBag.Title = "DetailsTitle";

}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <script type="text/javascript" charset="utf-8" src="~/Content/Ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="~/Content/Ueditor/ueditor.all.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="~/Content/Ueditor/lang/zh-cn/zh-cn.js"></script>
    <style>
        .navbar {
            margin-bottom: 0px;
        }

        #a {
            background-color: black;
        }

        .userimgheader {
            width: 40px;
            height: auto;
            float: left;
            margin-top: 5px;
        }

        .communiontitle {
            margin-left: 2px;
            width: 90%;
            float: left;
        }

        #sb {
            float: left;
        }

        .c {
            margin-top: 0px;
            width: 100%;
            overflow: hidden;
            border: 0px solid red;
        }

        .panel {
            margin-bottom: 0px;
            font-size: 10px;
        }

        #right {
            width: 70%;
            margin-top: 0px;
            float: left;
        }

        #left {
            width: 30%;
            height: 1000px;
            margin-top: 0px;
            border: solid 0px black;
            float: left;
        }

        #bodyer {
            width: auto;
            height: auto;
        }

        #divclassify ul li {
            font-size: 10px;
            list-style-type: none;
        }

        #divclassify ul {
            -webkit-padding-start: 10px;
        }

        #popularArticles ul li {
            font-size: 10px;
            list-style-type: none;
        }

        #popularArticles ul {
            -webkit-padding-start: 10px;
        }

        .titlename {
            float: left;
            color: #b3b3b3;
        }

        .titleclass {
            color: #727272;
            float: left;
        }
        li badge
            {
                background-color:#e4e3e3;
                font-weight: normal;
            }
            .badge
            {
                display: inline-block;
                min-width: 10px;
                padding: 3px 5px;
                line-height: 1;
                font-size: 8px;
                color: #fff;
                white-space: nowrap;
                text-align: center;
                border-radius: 10px;
            }
    </style>

</head>
<body>
    <bodyer id="bodyer">
        <div id="right" class="">

            <div class="c">
                @*<div class="userimgheader"><img style="width:40px;height:40px;" /></div>*@
                <div class="panel panel-default communiontitle" style="width:98%;" id="title1" onclick="clickto(this)">
                    <div class="panel-body">
                        <div style="width:auto;height:20px; border:0px solid black;margin-top:-5PX">
                            <a href=""><span style="font-size:12px;color:#727272">Example Category</span></a>
                            <span style="margin-left:5px;font-size:12px;color:#727272">/</span>
                            <a href=""><span style="margin-left:5px;font-size:12px;color:#727272">@ViewBag.snuble</span></a>
                        </div>
                        <h5><span style="color:black; font-weight:bold"><b>@ViewBag.snuble</span></b></span></h5>

                        <div style="width:auto;height:20px; border:0px solid black; margin-bottom:-10px;">
                            <span class="glyphicon glyphicon-eye-open" style="float:left;margin-top:3px;margin-left:6px; color:#727272;"></span><span style="float:left;margin-top:3px;margin-left:1px; color:#727272;">57被次查看</span>
                            <span class="glyphicon glyphicon-comment" style="float:left;margin-top:3px;margin-left:6px; color:#727272;"></span><span style="float:left;margin-top:3px;margin-left:1px; color:#727272;">发表于 @DateTime.Now</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="c">
                <div class="userimgheader">
                    <img style="width:40px;height:40px;" src="~/Content/Imags/Y`S5NH_CO~L5VC]}(6R4DC2.jpg" />
                    <div style="text-align:center;width:40px;word-wrap:break-word;font-size:11px;height:auto">visitor1</div>
                </div>
                <div class="panel panel-default communiontitle" id="title2" onclick="clickto(this)">
                    <div class="panel-body">
                        <div style="width:auto;height:20px; border:0px solid black; margin-bottom:0px;">
                            <span style="float:left;margin-top:0px;margin-right:3px"><a href="#" style="color:#727272;">visitor1</a></span>
                            <span style="float:left;margin-top:0px;margin-right:3px; color:#727272;">发表于 @DateTime.Now</span>

                        </div>

                        <a href="#" style="color:black; font-weight:bold"><h5><b>你爱好呀</b></h5></a>
                        <div style="width:auto;height:20px; border:0px solid black; margin-bottom:-10px;">
                            <span style="float:left;margin-top:3px;margin-right:3px; color:#727272;">#永久链接</span>

                            <span class="glyphicon glyphicon-thumbs-up" style="float:left;margin-top:3px;margin-left:10px; color:#727272;"></span><span style="float:left;margin-top:3px;margin-left:1px; color:#727272;">5</span>
                            <span class="glyphicon glyphicon-thumbs-down" style="float:left;margin-top:3px;margin-left:6px; color:#727272;"></span><span style="float:left;margin-top:3px;margin-left:1px; color:#727272;">5</span>
                            <span class="glyphicon glyphicon-star-empty" style="float:left;margin-top:3px;margin-left:6px; color:#727272;"></span><span style="float:left;margin-top:3px;margin-left:1px; color:#727272;">0</span>
                        </div>
                    </div>
                </div>

            </div>

            <div class="c">
                <div class="userimgheader">
                    <img style="width:40px;height:40px;" src="~/Content/Imags/Y`S5NH_CO~L5VC]}(6R4DC2.jpg" />
                    <div style="text-align:center;width:40px;overflow:hidden;word-wrap:break-word;font-size:11px;">visitor2</div>
                </div>
                <div class="panel panel-default communiontitle" id="title2" onclick="clickto(this)">
                    <div class="panel-body">
                        <div style="width:auto;height:20px; border:0px solid black; margin-bottom:0px;">
                            <span style="float:left;margin-top:0px;margin-right:3px"><a href="#" style="color:#727272;">visitor2</a></span>
                            <span style="float:left;margin-top:0px;margin-right:3px; color:#727272;">发表于 @DateTime.Now</span>

                        </div>

                        <a href="#" style="color:black; font-weight:bold"><h5><b>你爱好呀</b></h5></a>
                        <div style="width:auto;height:20px; border:0px solid black; margin-bottom:-10px;">
                            <span style="float:left;margin-top:3px;margin-right:3px; color:#727272;">#永久链接</span>

                            <span class="glyphicon glyphicon-thumbs-up" style="float:left;margin-top:3px;margin-left:10px; color:#727272;"></span><span style="float:left;margin-top:3px;margin-left:1px; color:#727272;">5</span>
                            <span class="glyphicon glyphicon-thumbs-down" style="float:left;margin-top:3px;margin-left:6px; color:#727272;"></span><span style="float:left;margin-top:3px;margin-left:1px; color:#727272;">5</span>
                            <span class="glyphicon glyphicon-star-empty" style="float:left;margin-top:3px;margin-left:6px; color:#727272;"></span><span style="float:left;margin-top:3px;margin-left:1px; color:#727272;">0</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="c" id="divuedite" style="margin-top:10px;">
                <script id="editor" type="text/plain" style="width:95%;height:auto;">
                </script>
            </div>
            <div id="comment" class="c">
                <input type="button" onclick="addcomment()" value="评论" style="width:100%;height:auto;background-color:#2abd54" />
            </div>
            
        </div>

        <div id="left" class="">
            <div id="addtheme" style="margin-left:20px; margin-top:5px; line-height:30px; background-color:#2abd54; text-align:center;width:80%;height:30px;"><a style="color:white;" href="@Url.Action("Index","UEditor")">新建主题</a></div>
            <div id="divclassify" class="" style="color:#636267;width:100%;height:120px; margin-top:5px;">
                分类
                <ul>
                    <li><a href="#" style="color:#3b3b3b;">所有</a></li>
                    <li><a href="#" style="color:#3b3b3b;">Example Category</a></li>
                    <li><a href="#" style="color:#3b3b3b;">123</a></li>
                </ul>
            </div>
            <div id="divsearch" style="color:#636267;width:100%;height:88px;margin-top:5px;">
                搜索
                <div style="color:#636267;width:100%;height:100%">
                    <input placeholder="关键字" style="width:70%;float:left;height:30px;margin-top:10px;margin-left:10px" /><button style="float:left;color:#636267;margin-top:11px;">搜索</button>
                </div>

            </div>

            <div id="popularArticles" style="color:#636267;width:100%;height:120px;margin-top:5px;">
                热门文章
                <ul>
                    <li>
                        <span class="badge">1</span>
                        <a href="#" style="color:#3b3b3b;">文章1</a>
                    </li>
                    <li>
                        <span class="badge">2</span>
                        <a href="#" style="color:#3b3b3b;">文章2</a>
                    </li>
                    <li>
                        <span class="badge">3</span>
                        <a href="#" style="color:#3b3b3b;">文章3</a>
                    </li>
                </ul>
            </div>
        </div>
    </bodyer>
</body>
</html>
<script type="text/javascript">

    $(document).ready(function () {

        var loginname = "@Session["loginname"]";
        if (loginname != "") {
            $("#comment").show();
        }
        else {
            
            $("#comment").hide();
            $("#right").append(
                '<div style="margin-top:10px;" class="c"><span style="color:#727272;font-size:12px"><a onclick="ToLogin()"  style="color:#727272;cursor:pointer;">登录</a>后可以参加评论！</span></div>'
                );
        }

    });


    var c = UE.getEditor('editor');
    function addcomment() {
        var loginname = "@Session["loginname"]";
        var strthml = c.getContent();
        if (strthml == null || strthml == "") {
            alert("请填写评论信息！！");
        } else {
            var datatime = new Date();
            $("#divuedite").before(
                   '<div class="c">' +
               '<div class="userimgheader">' +
                   '<img style="width:40px;height:40px;" src="/Content/Imags/Y`S5NH_CO~L5VC]}(6R4DC2.jpg" />' +
                    '<div style="text-align:center;width:40px;overflow:hidden;word-wrap:break-word;font-size:11px;">' + loginname + '</div>' +
               '</div>' +
               '<div class="panel panel-default communiontitle" id="title2" onclick="clickto(this)">' +
                   '<div class="panel-body">' +
                       '<div style="width:auto;height:20px; border:0px solid black; margin-bottom:0px;">' +
                           '<span style="float:left;margin-top:0px;margin-right:3px"><a href="#" style="color:#727272;">' + loginname + '</a></span>' +
                           '<span style="float:left;margin-top:0px;margin-right:3px; color:#727272;">发表于' + datatime + '</span>' +
                       '</div>' +
                       '<div style="color:black; font-weight:bold"><h5><b>' + strthml + '</b></h5></div>' +
                       '<div style="width:auto;height:20px; border:0px solid black; margin-bottom:-10px;">' +
                           '<span style="float:left;margin-top:3px;margin-right:3px; color:#727272;">#永久链接</span>' +
                           '<span class="glyphicon glyphicon-thumbs-up" style="float:left;margin-top:3px;margin-left:10px; color:#727272;"></span><span style="float:left;margin-top:3px;margin-left:1px; color:#727272;">0</span>' +
                           '<span class="glyphicon glyphicon-thumbs-down" style="float:left;margin-top:3px;margin-left:6px; color:#727272;"></span><span style="float:left;margin-top:3px;margin-left:1px; color:#727272;">0</span>' +
                           '<span class="glyphicon glyphicon-star-empty" style="float:left;margin-top:3px;margin-left:6px; color:#727272;"></span><span style="float:left;margin-top:3px;margin-left:1px; color:#727272;">0</span>' +
                       '</div>' +
                   '</div>' +
               '</div>' +
           '</div>'
       );
            c.setContent("");
        }

    };
    function ToLogin() {
        alert("888");
        //window.location = ('/Home/DetailsTitle?title=' + id + '')
        window.location.href=("@Url.Action("Index", "Login")")
    }
</script>
